.global-link {
  padding: 1rem 2.5rem;
  background-color: rgb(67, 67, 199);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out,
    border 0.4s ease-in-out;
  &:hover {
    background-color: white;
    color: rgb(67, 67, 199);
    border: 1px solid rgb(67, 67, 199);
  }
}
