@use "../../../import" as *;

.product-filtering-nav {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 0.5px solid #000;
  margin-bottom: 2rem;
  button {
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.4s;
    &:hover {
      color: $primaryColor;
    }
  }
}
.products-section {
  ul {
    margin: 2rem 0;
    li {
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }
}
