@use "../import" as *;

.global-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $brightColor;
  border-bottom: 1px solid $primaryColor;
  padding: 3rem 2rem;
  h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 3rem;
    line-height: 3rem;
  }
  .logo-container {
    margin: 2rem 0;
  }
  .links-container {
    li {
      a {
        &:not(:last-of-type) {
          margin-right: 2rem;
        }
      }
    }
  }
}

main {
  padding: 0 2rem 3rem;
  padding-top: 400px;
}
