* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 400;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: none;
}
